:root {
  --bg: #212121;
  --disabled: #4d4d4d;
}
* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  background-color: var(--bg);
  font-weight: 100;
  color: #f0f0f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  padding: 20px 30px;
}
header h1 {
  font-weight: 100;
  font-size: 1.7em;
  text-transform: uppercase;
}
header svg {
  margin-top: 3.5px;
}
header.flex {
  justify-content: space-between;
}
button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
button:focus {
  /* filter: brightness(0.8); */
  outline: none;
}
button:disabled {
  background-color: var(--disabled);
}
.btn {
  font-weight: 100 !important;
  width: 100%;
  padding: 15px 20px;
  border: 0;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}
.cancel {
  flex: 0;
  background-color: #e82020;
  margin-right: 20px;
}
.manual {
  flex: 0;
  background-color: #6f6f6f;
  margin-right: 20px;
}
.apply {
  flex: 1;
  background-color: #0f8db3;
  /* flex: 2; */
}
#edit {
  background-color: transparent;
  outline: none;
  border: none;
}
.power {
  padding: 15px 0;
  border: 0;
  width: 100%;
  height: 60px;
  /* border-radius: 100%; */
  background-color: #e62a2a;
  color: white;
  font-weight: bold;
}
.power p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 10px;
  margin: auto;
}
.power.off {
  background-color: var(--disabled);
}
.container {
  padding: 8vw;
}
.body {
  height: 65vh;
  position: relative;
  display: flex;
}
.row-color {
  display: flex;
  width: 84vw;
  height: calc(84vw * 80 / 100);
}
.row-color .left {
  width: 80%;
  /* height: 100%; */
}
.row-color .right {
  width: 20%;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.color-picker {
  position: relative;
  width: 100%;
  height: 100%;
}
.color-picker canvas {
  width: 100%;
  height: 100%;
}
.color-picker::before {
  content: "";
  width: 60%;
  border-radius: 100%;
  height: 60%;
  background-color: var(--bg);
  position: absolute;
  transform: translate(34%, 34%);
}
.remove-before::before {
  content: none;
}
#inner-picker {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 55%;
  height: 55%;
  border: 10px var(--bg) solid;
  transform: translate(-50%, -50%);
  background: rgba(255, 0, 0, 1);
  border-radius: 100%;
}
.slider {
  height: 85%;
  width: 75%;
  -webkit-appearance: slider-vertical;
}
#red {
  background-image: linear-gradient(90deg, black, #ff0000);
}
#green {
  background-image: linear-gradient(90deg, black, #00ff00);
}
#blue {
  background-image: linear-gradient(90deg, black, #0000ff);
}
.rgb input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
}
input[type="range"]:disabled {
  background: var(--disabled) !important;
}
.rgb input[type="range"]:focus {
  outline: none;
}
.rgb input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
}
.rgb input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
#color-slider label {
  display: block;
}
#color-slider input {
  width: 100%;
}
#color-preview {
  width: 100%;
  height: 10px;
  background-color: red;
  border-radius: 2px;
}
.text-center {
  text-align: center;
}
.hide {
  display: none !important;
}
.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: 0.7s all;
}
.modal,
.loading {
  opacity: 1;
  position: fixed;
  z-index: 10;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  transition: 0.35s all;
}
input[type="text"] {
  outline: none;
  background-color: rgba(60, 60, 60, 0.5);
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #555;
  border-radius: 2px;
  color: #fff;
  box-sizing: border-box;
}
.isnothex {
  border-color: red !important;
}
.modal .container {
  background-color: var(--bg);
  border-radius: 2px;
  width: 84vw;
  margin: auto 6vw;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
  /* transition: 1s display; */
}
.modal h3 {
  font-weight: 100;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.loader {
  margin: auto;
  border: 5px solid #ffffffa6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
