* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
header {
  padding: 30px;
}
.container {
  padding: 30px;
}
.flex {
  display: flex;
}
.color-picker {
  margin: 0 auto;
}
.inner-picker {
  width: 120px;
  height: 120px;
  top: 195.2px;
  left: 146px;
  position: absolute;
  background-color: red;
  border-radius: 100%;
}
.slider {
  width: 100%;
  margin: 20px 0;
}
.btn {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-weight: bold;
}
.text-center {
  text-align: center;
}

.power {
  padding: 20px 0;
  border: 0;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #e62a2a;
  color: white;
  font-weight: bold;
}
footer {
  width: 100%;
  position: absolute;
  padding: 20px 0;
  /* left: 50%; */
  bottom: 0;
}
